
.button {
    display: flex;
    justify-content: space-around;
}
button {
    background-color: white;
    border: 1px solid;
    color: black;
    padding: 19px 48px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover {
    color: #323232;
    opacity: 0.6;
  }
button {
    letter-spacing: 10px;
}
button:last-child{
    margin-right: 4%;
}
button:first-child{
    margin-left: 2%;
}
