/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@200&display=swap'); */

.brand{
    /* display: flex; */
    font-size: 200%;
    justify-content: center;
    
}
.button{
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: space-around
}
a {
    letter-spacing: 10px;
}
a:last-child{
    margin-right: 4%;
}
a:first-child{
    margin-left: 2%;
}